[Unit]
Description=Muzyv Backend (FastAPI)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/aiserver/Dev/muzyv/muzyv_backend
ExecStart=/home/aiserver/.local/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8000
Environment=PATH=/home/aiserver/.local/bin:/usr/bin:/bin
User=aiserver
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
